
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @aguestuser

1,219
26,125

    9,564

github/gitignore

gitignore/Node.gitignore
@Gouthamve Gouthamve on Apr 30 Fix typo from node_modules to node-modules

17 contributors
@stuartpb
@arcresu
@cheddar
@Gouthamve
@iamsebastian
@joreyaesh
@jenrik
@izuzak
@kerimdzhanov
@peat
@rsolomo
@indexzero
@sroberts
@aoberoi
@pronebird
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
.tern-port
